body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    width: 100%;
    overflow-x: hidden;
}

#header {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: rgb(255, 215, 39);
}


.logo img {
    width: 170px;
    height: auto;
}

.villa-belgrano {
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    left: 20px;
}

.villa-belgrano p {
    font-size: 22px;
    font-style: italic;
}

.menu {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(255, 215, 39);
}

.menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 5px;
    display: inline-block;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-size: medium;
    padding: 15px;
    transition: background-color 0.4s ease, color 0.3s ease;
}

.menu li a:hover {
    background-color: rgb(28, 21, 107);
    color: rgb(255, 215, 39);
}



/*contenedor*/
.contenedor-imagen {
    background-image: url('/Carrera_Analista/1°/EDI/rotary villa belgrano/img/pexels-nurseryart-346885.jpg');
    background-size: cover;
    height: 400px;
    background-position: center;
    padding: 20px;
    color: rgb(0, 0, 0);
}

.contenedor-imagen p{
    margin: 0 auto;
    text-align: center;
    width: 70%;
    padding: 40px;
    font-size: large;
    line-height: 1.5;
    font-style: italic;
}

/*ubicación*/
.ubicacion{
    width: 70%;
    background-color: rgb(28, 21, 107);
    padding: 15px;
    margin: 0 auto;
    margin-top: 10px;
}

.ubicacion h2{
    text-align: center;
    color: rgb(255, 215, 39);
}
.ubicacion p{
    text-align: justify;
    color: white;
    line-height: 1.5;
}

/*novedades*/
.novedades {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    margin-bottom: 40px;

}
.novedades .title{
    display: block;
    margin-top: 10px;
    margin-bottom: 30px;
    text-align: center;
    align-items: center;
    color:rgb(28, 21, 107);
}
.novedades .card {
    display: inline-flex;
    height: 400px;
    margin: 10px;
    flex-wrap: wrap;
    background-color: rgb(28, 21, 107);
    width: 15%;
    margin-bottom: 10px;
    padding: 80px;
}

.card .card-content h2{
    color: rgb(255, 215, 39);
    padding: 10px;
    text-align: justify;
}

.card .card-content a{
   text-decoration: none;
   color: rgb(174, 255, 248);
}


/*HISTORIA*/
.historia .container-historia{
    display: block;
    width: 60%;
    margin: 0 auto;
}

.container-historia h1{
    color: rgb(42, 37, 109);
    margin: 50px 0 40px 0;
    text-align: center;
}

.container-historia > div{
    border: 2px solid rgb(255, 215, 39);
    background-color: rgb(28, 21, 107);
    margin: 35px;
    padding: 80px;
}

.container-historia > div h2{
    text-align: center;
    color: rgb(255, 215, 39);
}

.container-historia > div p{
    color: whitesmoke;
    line-height: 1.5;
    text-align: justify;
}


/*footer*/
#footer{
    height: 250px;
    background-color: rgb(255, 215, 39);
    margin: 0 auto;
    overflow: hidden;
}
#footer > div{
    display: block;
    margin: 0 auto;
    overflow-x: hidden;
}
.copyright{
    color: rgb(10, 7, 48);
    text-align: center;
    padding-bottom: 5px;
}
.footer-container .redes-sociales{
    text-align: center;
    padding-top: 30px;
}
.redes-sociales h2{
    color: rgb(10, 7, 48);
}
.redes-sociales li{
    list-style: none;
    display: inline-block;
    text-align: center;
}
.redes-sociales li a i{
    font-size: 25px;
    padding: 20px;
    text-align: center;
    color: rgb(28, 21, 107);
}


/* novedades */
.novedad1{
    width: 50%;
    margin: 0 auto;
    line-height: 1.5;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid blue;
    padding: 20px;
}

.novedad1 .container h2{
    color: rgb(28, 21, 107) ;
}

.novedad1 .container p{
    line-height: 1.5;
    text-align: justify;
}


/* Media query */
@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        width: 100% !important;
    }

    html{
        overflow-x: hidden;
    }

    /*header*/
    #header {
        display: block;
        text-align: center;
    }
    #header .logo {
        margin: 0 auto;
    }

    /*navnar*/
    .menu {
        margin: 0 auto;
        width: 100%;
        margin-bottom: -10px;
    }

    #header .menu ul {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #header .menu ul li {
        list-style-type: none;
    }

    /*.contenedor-imagen*/
    .contenedor-imagen p{
        margin: 0 auto;
        text-align: center;
        width: 80%;
        margin-top: -30px;
    }

    /*main*/
    /*novedades*/
    .novedades {
        margin: 0 auto;
        width: 80%;
        margin-bottom: 20px;

    }
    .novedades .title{
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
        color:rgb(28, 21, 107);
    }
    .novedades .card {
        display: block;
        height: 350px;
        background-color: rgb(28, 21, 107);
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
    }

    .card-content{
        padding: 20px;
    }

    .card .card-content h2{
        color: rgb(255, 215, 39);
        align-items: center;
    }

    .card .card-content a{
    text-decoration: none;
    align-items: center;
    color: rgb(174, 255, 248);
    }

    /*HISTORIA*/
    .historia .container-historia{
        display: block;
        width: 95%;
        margin: 0 auto;
    }

    .container-historia h1{
        color: rgb(42, 37, 109);
        padding: 10px;
        text-align: justify;
    }

    .container-historia > div{
        border: 2px solid rgb(255, 215, 39);
        background-color: rgb(28, 21, 107);
        margin: 35px;
        padding: 45px;
    }

    .container-historia > div h2{
        text-align: justify;
        color: rgb(255, 215, 39);
    }

    .container-historia > div p{
        color: whitesmoke;
        line-height: 1.5;
        text-align: justify;
    }

    /*footer*/
    #footer{
        height: 250px;
        background-color: rgb(255, 215, 39);
        margin: 0 auto;
        overflow: hidden;
    }
    #footer > div{
        display: block;
        margin: 0 auto;
        overflow-x: hidden;
    }
    .copyright{
        color: rgb(10, 7, 48);
        text-align: center;
        padding-bottom: 5px;
    }
    .footer-container .redes-sociales{
        text-align: center;
        padding-top: 30px;
    }
    .redes-sociales h2{
        color: rgb(10, 7, 48);
    }
    .redes-sociales li{
        list-style: none;
        display: inline-block;
        text-align: center;
    }
    .redes-sociales li a i{
        font-size: 25px;
        padding: 20px;
        text-align: center;
        color: rgb(28, 21, 107);
    }

}
    

@media only screen and (min-width: 600px) and (max-width: 768px){
    body {
        margin: 0;
        width: 100% !important;
    }

    html{
        overflow-x: hidden;
    }

    /*header*/
    #header {
        display: block;
        text-align: center;
    }
    #header .logo {
        margin: 0 auto;
    }

    /*navnar*/
    .menu {
        margin: 0 auto;
        width: 100%;
        margin-bottom: -10px;
    }

    #header .menu ul {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #header .menu ul li {
        list-style-type: none;
    }

    /*.contenedor-imagen*/
    .contenedor-imagen p{
        margin: 0 auto;
        text-align: center;
        width: 80%;
        margin-top: -30px;
    }

    /*main*/
    /*novedades*/
    .novedades {
        margin: 0 auto;
        width: 80%;
        margin-bottom: 20px;

    }
    .novedades .title{
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
        color:rgb(28, 21, 107);
    }
    .novedades .card {
        display: block;
        height: 350px;
        background-color: rgb(28, 21, 107);
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
    }

    .card-content{
        padding: 20px;
    }

    .card .card-content h2{
        color: rgb(255, 215, 39);
        align-items: center;
    }

    .card .card-content a{
    text-decoration: none;
    align-items: center;
    color: rgb(174, 255, 248);
    }

    /*HISTORIA*/
    .historia .container-historia{
        display: block;
        width: 95%;
        margin: 0 auto;
    }

    .container-historia h1{
        color: rgb(42, 37, 109);
        padding: 10px;
        text-align: justify;
    }

    .container-historia > div{
        border: 2px solid rgb(255, 215, 39);
        background-color: rgb(28, 21, 107);
        margin: 35px;
        padding: 45px;
    }

    .container-historia > div h2{
        text-align: justify;
        color: rgb(255, 215, 39);
    }

    .container-historia > div p{
        color: whitesmoke;
        line-height: 1.5;
        text-align: justify;
    }

    /*footer*/
    #footer{
        height: 250px;
        background-color: rgb(255, 215, 39);
        margin: 0 auto;
        overflow: hidden;
    }
    #footer > div{
        display: block;
        margin: 0 auto;
        overflow-x: hidden;
    }
    .copyright{
        color: rgb(10, 7, 48);
        text-align: center;
        padding-bottom: 5px;
    }
    .footer-container .redes-sociales{
        text-align: center;
        padding-top: 30px;
    }
    .redes-sociales h2{
        color: rgb(10, 7, 48);
    }
    .redes-sociales li{
        list-style: none;
        display: inline-block;
        text-align: center;
    }
    .redes-sociales li a i{
        font-size: 25px;
        padding: 20px;
        text-align: center;
        color: rgb(28, 21, 107);
    }

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        margin: 0;
        width: 100% !important;
    }

    html{
        overflow-x: hidden;
    }

    /*header*/
    #header {
        display: block;
        text-align: center;
    }
    #header .logo {
        margin: 0 auto;
    }

    /*navnar*/
    .menu {
        margin: 0 auto;
        width: 100%;
        margin-bottom: -10px;
    }

    #header .menu ul {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #header .menu ul li {
        list-style-type: none;
    }

    /*.contenedor-imagen*/
    .contenedor-imagen p{
        margin: 0 auto;
        text-align: center;
        width: 80%;
        margin-top: -30px;
    }

    /*main*/
    /*novedades*/
    .novedades {
        margin: 0 auto;
        width: 80%;
        margin-bottom: 20px;

    }
    .novedades .title{
        display: block;
        margin-top: 30px;
        margin-bottom: 30px;
        color:rgb(28, 21, 107);
    }
    .novedades .card {
        display: block;
        height: 350px;
        background-color: rgb(28, 21, 107);
        width: 70%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 20px;
    }

    .card-content{
        padding: 20px;
    }

    .card .card-content h2{
        color: rgb(255, 215, 39);
        align-items: center;
    }

    .card .card-content a{
    text-decoration: none;
    align-items: center;
    color: rgb(174, 255, 248);
    }

    /*HISTORIA*/
    .historia .container-historia{
        display: block;
        width: 95%;
        margin: 0 auto;
    }

    .container-historia h1{
        color: rgb(42, 37, 109);
        padding: 10px;
        text-align: justify;
    }

    .container-historia > div{
        border: 2px solid rgb(255, 215, 39);
        background-color: rgb(28, 21, 107);
        margin: 35px;
        padding: 45px;
    }

    .container-historia > div h2{
        text-align: justify;
        color: rgb(255, 215, 39);
    }

    .container-historia > div p{
        color: whitesmoke;
        line-height: 1.5;
        text-align: justify;
    }
    /*footer*/
    #footer{
        height: 250px;
        background-color: rgb(255, 215, 39);
        margin: 0 auto;
        overflow: hidden;
    }
    #footer > div{
        display: block;
        margin: 0 auto;
        overflow-x: hidden;
    }
    .copyright{
        color: rgb(10, 7, 48);
        text-align: center;
        padding-bottom: 5px;
    }
    .footer-container .redes-sociales{
        text-align: center;
        padding-top: 30px;
    }
    .redes-sociales h2{
        color: rgb(10, 7, 48);
    }
    .redes-sociales li{
        list-style: none;
        display: inline-block;
        text-align: center;
    }
    .redes-sociales li a i{
        font-size: 25px;
        padding: 20px;
        text-align: center;
        color: rgb(28, 21, 107);
    }

}