body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

html {
    width: 100%;
    overflow-x: hidden;
}

#header {
    display: flex;
    height: auto;
    justify-content: space-between;
    align-items: center;
    padding: 25px;
    background-color: rgb(255, 215, 39);
}


.logo img {
    width: 170px;
    height: auto;
}

.villa-belgrano {
    position: relative;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    left: 20px;
}

.villa-belgrano p {
    font-size: 22px;
    font-style: italic;
}

.menu {
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgb(255, 215, 39);
}

.menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.menu li {
    padding: 5px;
    display: inline-block;
}

.menu li a {
    text-decoration: none;
    color: black;
    font-size: medium;
    padding: 15px;
    transition: background-color 0.4s ease, color 0.3s ease;
}

.menu li a:hover {
    background-color: rgb(28, 21, 107);
    color: rgb(255, 215, 39);
}



/*contenedor*/
.contenedor-imagen {
    background-image: url('/Carrera_Analista/1째/EDI/rotary villa belgrano/img/pexels-nurseryart-346885.jpg');
    background-size: cover;
    height: 400px;
    background-position: center;
    padding: 20px;
    color: rgb(0, 0, 0);
}

.contenedor-imagen p{
    margin: 0 auto;
    text-align: center;
    width: 70%;
    padding: 40px;
    font-size: large;
    line-height: 1.5;
    font-style: italic;
}

/*ubicaci처n*/
.ubicacion{
    width: 70%;
    background-color: rgb(28, 21, 107);
    padding: 15px;
    margin: 0 auto;
    margin-top: 10px;
}

.ubicacion h2{
    text-align: center;
    color: rgb(255, 215, 39);
}
.ubicacion p{
    text-align: justify;
    color: white;
    line-height: 1.5;
}

/*novedades*/
.novedades {
    margin: 0 auto;
    width: 80%;
    margin-bottom: 20px;

}
.novedades .title{
    display: block;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
    color:rgb(28, 21, 107);
}
.novedades .card {
    display: block;
    height:300px;
    background-color: rgb(28, 21, 107);
    width: 50%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 25px;
}

.card-content{
    padding: 60px;
}

.card .card-content h2{
    color: rgb(255, 215, 39);
    text-align: justify;
}

.card .card-content a{
text-decoration: none;
justify-content: center;
color: rgb(174, 255, 248);
}

/*footer*/
#footer{
    height: 250px;
    background-color: rgb(255, 215, 39);
    margin: 0 auto;
    overflow: hidden;
}
#footer > div{
    display: block;
    margin: 0 auto;
    overflow-x: hidden;
}
.copyright{
    color: rgb(10, 7, 48);
    text-align: center;
    margin-bottom: 50px;
}
.footer-container .redes-sociales{
    text-align: center;
    padding-top: 30px;
}
.redes-sociales h2{
    color: rgb(10, 7, 48);
}
.redes-sociales li{
    list-style: none;
    display: inline-block;
    padding: 20px;
    justify-content: center;
}
.redes-sociales li a i{
    font-size: 25px;
    color: rgb(28, 21, 107);
}


/* novedades */
.novedad1{
    width: 50%;
    margin: 0 auto;
    line-height: 1.5;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid blue;
    padding: 20px;
}

.novedad1 .container h2{
    color: rgb(28, 21, 107) ;
}
.novedad1 .container p{
    text-align: justify;
}

/*historia*/
.historia .container-historia{
    width: 60%;
    text-align: center;
    margin: 0 auto;

}

.container-historia > div{
    border: 2px solid rgb(255, 215, 39);
    background-color: rgb(28, 21, 107);
    margin-top: 20px;
    padding: 30px;
}

.container-historia h1 {
    color: rgb(10, 7, 48);
}

.container-historia > div h2{
    color: rgb(255, 215, 39);
    padding: 20px;
}

.container-historia > div p{
    text-align: justify;
    color: wheat;
    padding-bottom: 20px;
    line-height: 1.5;
}


/* Media query */
@media only screen and (max-width: 600px) {
    body {
        margin: 0;
        width: 100% !important;
    }

    html{
        overflow-x: hidden;
    }

    /*header*/
    #header {
        display: block;
        text-align: center;
    }
    #header .logo {
        margin: 0 auto;
    }

    /*navnar*/
    .menu {
        margin: 0 auto;
        width: 100%;
        margin-bottom: -10px;
    }

    #header .menu ul {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #header .menu ul li {
        list-style-type: none;
    }

    /*.contenedor-imagen*/
    .contenedor-imagen p{
        margin: 0 auto;
        text-align: center;
        width: 80%;
        margin-top: -30px;
    }

    /*novedades*/
    .novedades {
        margin: 0 auto;
        width: 80%;
        margin-bottom: 20px;

    }
    .novedades .title{
        display: block;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 50px;
        color:rgb(28, 21, 107);
    }
    .novedades .card {
        display: block;
        height: 400px;
        background-color: rgb(28, 21, 107);
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 25px;
    }

    .card-content{
        padding: 10px;
    }

    .card .card-content h2{
        color: rgb(255, 215, 39);
        text-align: justify;
        padding-top: 80px;
    }

    .card .card-content a{
    text-decoration: none;
    justify-content: center;
    color: rgb(174, 255, 248);
    }

    /* novedades */
    .novedad1{
        width: 70%;
        margin: 0 auto;
        line-height: 1.5;
        margin-top: 50px;
        margin-bottom: 50px;
        border: 2px solid blue;
        padding: 50px;
    }

    .novedad1 .container h2{
        color: rgb(28, 21, 107) ;
    }
    .novedad1 .container p{
        text-align: justify;
    }

    /*historia*/
    .historia .container-historia{
        width: 60%;
        text-align: center;
        margin: 0 auto;

    }

    .container-historia > div{
        border: 2px solid rgb(255, 215, 39);
        background-color: rgb(28, 21, 107);
        margin-top: 20px;
        padding: 30px;
    }

    .container-historia h1 {
        color: rgb(10, 7, 48);
    }

    .container-historia > div h2{
        color: rgb(255, 215, 39);
        padding: 20px;
    }

    .container-historia > div p{
        text-align: justify;
        color: wheat;
        padding-bottom: 20px;
        line-height: 1.5;
    }
    

}  

@media only screen and (min-width: 600px) and (max-width: 768px){
    body {
        margin: 0;
        width: 100% !important;
    }

    html{
        overflow-x: hidden;
    }

    /*header*/
    #header {
        display: block;
        text-align: center;
    }
    #header .logo {
        margin: 0 auto;
    }

    /*navnar*/
    .menu {
        margin: 0 auto;
        width: 100%;
        margin-bottom: -10px;
    }

    #header .menu ul {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #header .menu ul li {
        list-style-type: none;
    }

    /*.contenedor-imagen*/
    .contenedor-imagen p{
        margin: 0 auto;
        text-align: center;
        width: 80%;
        margin-top: -30px;
    }
    /*ubicaci처n*/
    .ubicacion{
        width: 70%;
        background-color: rgb(28, 21, 107);
        padding: 15px;
        margin: 0 auto;
        margin-top: 10px;
    }

    .ubicacion h2{
        text-align: center;
        color: rgb(255, 215, 39);
    }
    .ubicacion p{
        text-align: justify;
        color: white;
        line-height: 1.5;
    }

    /*novedades*/
    .novedades {
        margin: 0 auto;
        width: 80%;
        margin-bottom: 20px;

    }
    .novedades .title{
        display: block;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 50px;
        color:rgb(28, 21, 107);
    }
    .novedades .card {
        display: block;
        height: 400px;
        background-color: rgb(28, 21, 107);
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 25px;
    }

    .card-content{
        padding: 10px;
    }

    .card .card-content h2{
        color: rgb(255, 215, 39);
        text-align: justify;
        padding-top: 80px;
    }

    .card .card-content a{
    text-decoration: none;
    justify-content: center;
    color: rgb(174, 255, 248);
    }    

    /* novedades */
    .novedad1{
        width: 70%;
        margin: 0 auto;
        line-height: 1.5;
        margin-top: 50px;
        margin-bottom: 50px;
        border: 2px solid blue;
        padding: 50px;
    }

    .novedad1 .container h2{
        color: rgb(28, 21, 107) ;
    }
    .novedad1 .container p{
        text-align: justify;
    }

    /*historia*/
    .historia .container-historia{
        width: 60%;
        text-align: center;
        margin: 0 auto;

    }

    .container-historia > div{
        border: 2px solid rgb(255, 215, 39);
        background-color: rgb(28, 21, 107);
        margin-top: 20px;
        padding: 30px;
    }

    .container-historia h1 {
        color: rgb(10, 7, 48);
    }

    .container-historia > div h2{
        color: rgb(255, 215, 39);
        padding: 20px;
    }

    .container-historia > div p{
        text-align: justify;
        color: wheat;
        padding-bottom: 20px;
        line-height: 1.5;
    }
    
}  


@media only screen and (min-width: 768px) and (max-width: 1024px) {
    body {
        margin: 0;
        width: 100% !important;
    }

    html {
        overflow-x: hidden;
    }

    /* Header */
    #header {
        display: block;
        text-align: center;
    }

    #header .logo {
        margin: 0 auto;
    }

    /* Navbar */
    .menu {
        margin: 0 auto;
        width: 100%;
        margin-bottom: -10px;
    }

    #header .menu ul {
        display: flex;
        justify-content: space-evenly;
        padding: 0;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    #header .menu ul li {
        list-style-type: none;
    }

    /* Contenedor de imagen */
    .contenedor-imagen p {
        margin: 0 auto;
        text-align: center;
        width: 80%;
        margin-top: -30px;
    }

    /* Ubicaci처n */
    .ubicacion {
        width: 60%;
        background-color: rgb(28, 21, 107);
        padding: 15px;
        margin: 0 auto;
        margin-top: 10px;
    }

    .ubicacion h2 {
        text-align: center;
        color: rgb(255, 215, 39);
    }

    .ubicacion p {
        text-align: justify;
        color: white;
        line-height: 1.5;
    }

    /*novedades*/
    .novedades {
        margin: 0 auto;
        width: 80%;
        margin-bottom: 20px;

    }
    .novedades .title{
        display: block;
        text-align: center;
        margin-bottom: 50px;
        margin-top: 50px;
        color:rgb(28, 21, 107);
    }
    .novedades .card {
        display: block;
        height: 400px;
        background-color: rgb(28, 21, 107);
        width: 80%;
        margin: 0 auto;
        margin-top: 20px;
        margin-bottom: 20px;
        padding: 25px;
    }

    .card-content{
        padding: 10px;
    }

    .card .card-content h2{
        color: rgb(255, 215, 39);
        text-align: justify;
        padding-top: 80px;
    }

    .card .card-content a{
    text-decoration: none;
    justify-content: center;
    color: rgb(174, 255, 248);
    }

    /* novedades */
    .novedad1{
        width: 70%;
        margin: 0 auto;
        line-height: 1.5;
        margin-top: 50px;
        margin-bottom: 50px;
        border: 2px solid blue;
        padding: 50px;
    }

    .novedad1 .container h2{
        color: rgb(28, 21, 107) ;
    }
    .novedad1 .container p{
        text-align: justify;
    }

    /*historia*/
    .historia .container-historia{
        width: 60%;
        text-align: center;
        margin: 0 auto;

    }

    .container-historia > div{
        border: 2px solid rgb(255, 215, 39);
        background-color: rgb(28, 21, 107);
        margin-top: 20px;
        padding: 30px;
    }

    .container-historia h1 {
        color: rgb(10, 7, 48);
    }

    .container-historia > div h2{
        color: rgb(255, 215, 39);
        padding: 20px;
    }

    .container-historia > div p{
        text-align: justify;
        color: wheat;
        padding-bottom: 20px;
        line-height: 1.5;
    }
    
}